.footer{
    .footer-inner{
        display:grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: repeat(1, minmax(50px, auto));
        text-align: center;
        .f-copy{
            height:100px;
            grid-row:1/span 2;
            background: rgb(174, 228, 73);
            border-right:3px dotted black;
            order:1;
        }
        .f-sns{
            background: rgb(194, 43, 194);
            border-bottom:3px dotted black;
            order:2;
        }
        .f-site{
            background:rgb(89, 187, 187);
            order:3;
        }
    }

}