.footer{
    position:absolute;
    width:100vw;
    right:0%;
    background: gold;
    .footer-inner{
        width:1200px;
        background: violet;
        margin:auto;
        display:grid;
        grid-template-columns:5fr 1fr;
        grid-template-rows:repeat(2, minmax(50px, auto));
        .f-menu, .f-copyright, .f-site{
            width:100%;
            text-align: center;
        }
        .f-site{
            grid-column:2;
            grid-row:1/3;
            border-left:3px dotted black;
        }
        .f-menu{
            border-bottom:3px dotted black;
        }
    }
}